/* Styled according to CUBE CSS (https://cube.fyi/)

    0. Variables
    1. Global Styles
    2. Composition
    3. Utilities
    4. Blocks
    5. Exceptions


    Note about colors: classic UCSD - Navy, Blue, Yellow, White
    from https://brand.ucsd.edu/visual-brand/color/index.html
*/


/* 0. Variables */

:root {
    --font-size: 16px;
    --bold-font: 700;
    /* UCSD colors */
    --ucsd-blue: #00629B;
    --ucsd-navy: #182B49;
    --ucsd-yellow: #FFCD00;
    --ucsd-gold: #C69214;
    /* Neutrals */
    --black: #000000;
    --white: #FFFFFF;
    --gray: #747678;
}


/* 1. Global Styles */

body {
    font-family: 'Inter';
    font-size: var(--font-size);
    background-color: var(--ucsd-navy);
    color: var(--white);
    margin: 0px;
}

body>* {
    padding: 1rem;
}


/* 2. Composition */

.flex-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    gap: 20rem;
}


/* 3. Utilities */

.gold-background {
    background-color: var(--ucsd-gold);
}

.yellow-background {
    background-color: var(--ucsd-yellow);
}

.blue-background {
    background-color: var(--ucsd-blue);
}

.navy-font {
    color: var(--ucsd-navy);
}

.white-font {
    color: var(--white);
}

.margin-bottom {
    margin-bottom: 1rem
}

.full-width {
    width: 100%;
}

.hidden {
    display: none;
}


/* 4. Blocks */

#heatmap {
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Slider CSS taken from https://www.w3schools.com/howto/howto_js_rangeslider.asp */
#slider {
    width: 100%;
}

#slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: var(--white);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider:hover {
    opacity: 1;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--ucsd-yellow);
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--ucsd-yellow);
    cursor: pointer;
}

canvas {
    min-width: 60rem;
    background-color: var(--white);
    border: 1px solid var(--ucsd-navy);
    image-rendering: pixelated;

}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* The round slider */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#myCanvas {
}

/* 5. Exceptions */