/* Styled according to CUBE CSS (https://cube.fyi/)

    0. Variables
    1. Global Styles
    2. Composition
    3. Utilities
    4. Blocks
    5. Exceptions


    Note about colors: classic UCSD - Navy, Blue, Yellow, White
    from https://brand.ucsd.edu/visual-brand/color/index.html
*/


/* 0. Variables */

:root {
    --font-size: 16px;
    --bold-font: 700;
    /* UCSD colors */
    --ucsd-blue: #00629B;
    --ucsd-navy: #182B49;
    --ucsd-yellow: #FFCD00;
    --ucsd-gold: #C69214;
    /* Neutrals */
    --black: #000000;
    --white: #FFFFFF;
    --gray: #747678;
}


/* 1. Global Styles */

body {
    font-family: 'Inter';
    font-size: var(--font-size);
    background-color: var(--ucsd-navy);
    color: var(--white);
    margin: 0px;
}

body > * {
    padding: 1rem;
}


/* 2. Composition */

.flex-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    gap: 20rem;
}


/* 3. Utilities */

.gold-background {
    background-color: var(--ucsd-gold);
}

.yellow-background {
    background-color: var(--ucsd-yellow);
}

.blue-background {
    background-color: var(--ucsd-blue);
}

.navy-font {
    color: var(--ucsd-navy);
}

.white-font {
    color: var(--white);
}

.margin-bottom {
    margin-bottom: 1rem
}


/* 4. Blocks */

#heatmap {
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#slider {
    width: 100%;
}

canvas {
    min-width: 70vw;
    background-image: url(../maps/3rd-floor.png);
    background-size: 100% 100%;
}


/* 5. Exceptions */